.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    flex: 0 32%;
    margin-bottom: 2%; /* (100-32*3)/2 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    color: black;
}
.link:hover {
    text-decoration: none;
}
