.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: Lato, sans-serif;
}

.form {
    flex-shrink: 0;
    margin: 20px;
    height: 450px;
    width: 350px;
    border: solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-size: cover;
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10%;

/*    */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.elem {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.label {
    text-align: center;
}

.field {

}

.link {
    margin-top: 5px;
    text-transform: uppercase;
}

.link:hover {
    text-decoration: none;
}

@keyframes icon {
    0%   {color: yellow;}
    50%  {color: green;}
    100%  {color: red;}
}

.icon {
    animation-name: icon;
    animation-duration: 10s;
}