/*CONTAINER*/

.container {
    font-family: Lato, sans-serif;
    background-color: #B5651D;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/*NAVBAR*/
.item2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*-----*/
    color:black;
    font-size: 20px;
}

.link, .socialLink {
    margin-left: 20px;
    color: white;
}

.link:hover{
    text-decoration: none;
    text-shadow: 5px 5px 10px whitesmoke;
    color: whitesmoke;
}

.link:active {
    text-decoration: none;
    color: black;
}
