.container {
    background-color: whitesmoke;
    width: 250px;
    /*;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*      */
    font-family: 'Anton', sans-serif;
    border-right: 5px solid blanchedalmond;
}

.cat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.link {
    color: black;
    margin-top: 10px;
}

.link:hover {
    color: deepskyblue;
    text-decoration: none;
}