.container {
    background-color: whitesmoke;
    min-width: 200px;
    /*;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*      */
    font-family: 'Anton', sans-serif;
    border-right: 5px solid blanchedalmond;
    /*    */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.cat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.link {
    color: black;
    margin-top: 10px;
}

.link:hover {
    color: deepskyblue;
    text-decoration: none;
}