.container {
    background-color: whitesmoke;
    min-width: 200px;
    max-width: 200px;
    /*;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*      */
    font-family: 'Anton', sans-serif;
    border-right: 5px solid blanchedalmond;
    /*    */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.cat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.link {
    margin-right: 10px;
    color: black;
}

.link:hover {
    color: deepskyblue;
    text-decoration: none;
}

.plus {
    margin-top: 20px;
    color: black;
}

.minus {
    color: black;
}

.minus:hover, .plus:hover {
    cursor: pointer;
    color: red;
}

.wrapper {
    margin-top: 10px;
}

.container h5 {
    text-align: center;
    font-weight: bold;
}