.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar {
    width: 100%;
    display: flex;
    position: fixed;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 70px;

}

.footer {
    width: 100%;
}

